body {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    width: 200px;
    padding: 100px;
}

#error {
    color: red;
}